#cardCase{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 1000px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    top:20px;
    flex-wrap:wrap;
    flex-direction:row;

    align-items: center;
    justify-content: center;
    align-content:space-around;
}

@supports ( not (flex-wrap: wrap) ) {
    #cardCase{
        width: 1000px;
        height: 400px;
        position: relative;
        margin: 0 auto;
        top:20px;

        display:block !important;
    }
}

.card{
    width: auto;
    float: left;
    position: relative;
    height: auto;
    margin-right:5px;
    margin-bottom:5px;
}

.cardImg{
    position:absolute;
    z-index:10;
    width: 80px;
    left: 50%;
    margin-left: -40px;

}

.cardBG{
    width:90px;
}

.cardName{
    font-family: 'allerbold';
    width:100%;
    position: absolute;
    bottom: 20px;
    font-size:17px;
    color: #098ee2;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
    text-align:center;
}

#questionsCounter{
    position: absolute;
    width:850px;
    height:100px;
    bottom: 250px;
    left:50%;
    margin-left:-400px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

#questionsCounter .questionMark{
   /* background-image:url('../assets/questionmark.png');
    background-repeat: no-repeat;*/
    float:left;
    position: relative;
    margin-right:70px;
    width:50px;
    height:50px;
}
#selectContainer{
    position: absolute;
    bottom:90px;
    left:90%;
    max-width: 80px;
    text-align: center;
}

#scoreContainer{
    right:20px;
    top:10px;
    position: absolute;
    height:80px;
    overflow: visible;

}

#scoreText{
    font-family: 'allerbold';
    color:rgba(47, 80, 5, 1);
    font-size:35px;

}

#selectContainer{
    position: absolute;
    bottom:78px;
    left:93%;
    max-width: 100px;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#selectContainer>div{
    float:left;
    position: relative;
}

#selectButton{
    width:55px;
}

#selectContainer>#cancelButton{
    width:55px;
}

@media only screen and (max-width: 1200px) {

#scoreText{
    font-family: 'allerbold';
    color:rgba(47, 80, 5, 1);
    font-size:25px;

}

}

@media only screen and (max-width: 1200px) {
    #scoreText{
        display: none;
    }
}