
body{
    margin:0;
    padding:0;
    overflow: hidden;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video, input, textarea, select, optgroup, option {
    -webkit-box-sizing: border-box !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'allerbold';
    src: url('../assets/fonts/aller_std_bd-webfont.eot');
    src: url('../assets/fonts/aller_std_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/aller_std_bd-webfont.woff') format('woff'),
         url('../assets/fonts/aller_std_bd-webfont.ttf') format('truetype'),
         url('../assets/fonts/aller_std_bd-webfont.svg#allerbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'allerlight';
    src: url('../assets/fonts/aller_std_lt-webfont.eot');
    src: url('../assets/fonts/aller_std_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/aller_std_lt-webfont.woff') format('woff'),
         url('../assets/fonts/aller_std_lt-webfont.ttf') format('truetype'),
         url('../assets/fonts/aller_std_lt-webfont.svg#allerlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'allerregular';
    src: url('../assets/fonts/aller_std_rg-webfont.eot');
    src: url('../assets/fonts/aller_std_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/aller_std_rg-webfont.woff') format('woff'),
         url('../assets/fonts/aller_std_rg-webfont.ttf') format('truetype'),
         url('../assets/fonts/aller_std_rg-webfont.svg#allerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#bg{
    position:fixed;
    width:100%;
    height:100%;
    background-image:url("../assets/bgGreen.jpg");
}

#cardCase{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 1310px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    top:20px;
    flex-wrap:wrap;
    flex-direction:row;

    align-items: center;
    justify-content: center;
    align-content:space-around;
}

@supports ( not (flex-wrap: wrap) ) {
    #cardCase{
        width: 1310px;
        height: 600px;
        position: relative;
        margin: 0 auto;
        top:20px;

        display:block !important;
    }
}

.card{
    width: auto;
    float: left;
    position: relative;
    height: auto;
    margin-right:5px;
    margin-bottom:5px;
    cursor:pointer;
}

.cardImg{
    position:absolute;
    z-index:10;
    width: 130px;
    left: 50%;
    margin-left: -65px;

}

.cardBG{
    width:140px;
}

.cardName{
    font-family: 'allerbold';
    width:100%;
    position: absolute;
    bottom: 35px;
    font-size:25px;
    color: #098ee2;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
    text-align:center;
}

.shadow {
  -moz-box-shadow:    0px 0px 10px 10px #1e1e1e;
  -webkit-box-shadow: 0px 0px 10px 10px #1e1e1e;
  box-shadow:         0px 0px 10px 10px #1e1e1e;
}

/* QUESTIONS */

#questionsPool{
    position: absolute;
    bottom:-10px;
    width:800px;
    height:265px;
    box-shadow:inset 0 0 10px #000000;
    left:50%;
    margin-left:-400px;
    background: rgba(143,200,0,0.7); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(143,200,0,0.7) 0%, rgba(143,200,0,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,200,0,0.7)), color-stop(100%,rgba(143,200,0,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(143,200,0,0.7) 0%,rgba(143,200,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(143,200,0,0.7) 0%,rgba(143,200,0,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(143,200,0,0.7) 0%,rgba(143,200,0,0.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(143,200,0,0.7) 0%,rgba(143,200,0,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc800', endColorstr='#8fc800',GradientType=0 ); /* IE6-9 */
    border: 5px solid rgba(143,200,0,0.7);
    border-radius: 10px;
    overflow-y: hidden;
    overflow-x:hidden;
    padding:10px;
    padding-top:0px;
    padding-right:15px;
}

#questionsScroller{
    float:left;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    overflow: hidden;
}

#questionsCounter{
    position: absolute;
    width:850px;
    height:100px;
    bottom: 300px;
    left:50%;
    margin-left:-400px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

#questionsCounter .questionMark{
   /* background-image:url('../assets/questionmark.png');
    background-repeat: no-repeat;*/
    float:left;
    position: relative;
    margin-right:70px;
    width:80px;
    height:80px;
}

.question{
    width:100%;
    text-align: center;
    height:30px;
    background: rgb(255,220,124); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,220,124,1) 0%, rgba(254,191,4,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,220,124,1)), color-stop(100%,rgba(254,191,4,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,220,124,1) 0%,rgba(254,191,4,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,220,124,1) 0%,rgba(254,191,4,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,220,124,1) 0%,rgba(254,191,4,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,220,124,1) 0%,rgba(254,191,4,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc7c', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */
    border:2px solid #1f3b08;
    float:left;
    position: relative;
    margin-bottom:8px;
    line-height: 30px;
    font-size:18px;
    font-family: "allerbold";
    color:#1f3b08;
    cursor:pointer;
}

.question:hover{
    background: rgb(164,179,87); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(164,179,87,1)), color-stop(100%,rgba(117,137,12,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-9 */
    color:#ffffff;
}

.selectedQuestion{
    border-style:dashed;
}

#selectContainer{
    position: absolute;
    bottom:78px;
    /*left:74%;*/
    max-width: 100px;
    text-align: center;
}

#selectContainer>div{
    float:left;
    position: relative;
}

#selectContainer>#cancelButton{
    width:80px;
}


.grayscale {
        /*url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(grayscale.svg); /* Firefox 4+ */
    filter: gray; /* IE 6-9 */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

#mycursor {
    cursor: none;
    width: 78px;
    height: 79px;
    background: url("../assets/xmark-red-th.png") no-repeat left top;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: 10000;
}
#simpleCrosshair {
    cursor: none;
    width: 65px;
    height: 65px;
    background: url("../assets/xmark-red-th.png") no-repeat left top;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: 10000;
}

#modalPickPlayer {
    width: 600px;
    padding: 30px;
    display:none;
    background: #FFF;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
    font-size:25px;
    font-family: 'allerregular';
    text-align: center;
}

#modalWinPlayer {
    width: 600px;
    padding: 30px;
    display:none;
    background: #FFF;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
    font-size:25px;
    font-family: 'allerregular';
    text-align: center;
}

#modalLossPlayer{
    width: 600px;
    padding: 30px;
    display:none;
    background: #FFF;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
    font-size:25px;
    font-family: 'allerregular';
    text-align: center;
}

#modalLossPlayer>span{
    color: #d60202;
}

#modalWinPlayer>span{
    color: rgba(143,200,0,0.7);

}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.resetAll{
    width:150px;
    height:40px;
    border-radius: 6px;
    border:1px solid #1f3b08;
    background: rgb(255,214,94); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,214,94,1)), color-stop(100%,rgba(254,191,4,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */
    color:#1f3b08;
    font-family:'allerregular';
    font-size:20px;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    cursor: pointer;
}

/* SCORE */

#scoreContainer{
    right:100px;
    top:10px;
    position: absolute;
    height:80px;
    overflow: visible;
}

#scoreText{
    font-family: 'allerbold';
    color:rgba(47, 80, 5, 1);
    font-size:45px;

}

.arrow{
    position: absolute;
    right: 3px;
    top: 1px;
}