.cardName {
    font-family: 'allerbold';
    width: 100%;
    position: absolute;
    bottom: 13px;
    font-size: 8px;
    color: #098ee2;
    text-shadow: -1px -1px 0 #fff,
     1px -1px 0 #fff,
     -1px 1px 0 #fff,
     1px 1px 0 #fff;
    text-align: center;
}

.cardImg {
    position: absolute;
    z-index: 10;
    width: 36px;
    left: 50%;
    margin-left: -18px;
}

.cardBG {
    width: 37px;
}

#cardCase{
    top:8px;
    align-content: flex-start;
    width:300px;
}

#questionsCounter{
    bottom:135px;
    position: absolute;
    width: 500px;
    height: 100px;
    margin-left:-250px;
    display:none;
}

#questionsCounter .questionMark{
    margin-right: 10px;
}

#questionsPool{
    border: 5px solid rgba(40, 54, 3, 0.7);
    height:160px !important;
    width:300px;
    margin-left:-150px;
}

#selectContainer {
    position: absolute;
    bottom: 160px;
    left: 50% !important;
    margin-left: -60px;
    flex-direction:row;
}

