#scoreText{
    font-family: 'allerbold';
    color:rgba(47, 80, 5, 1);
    font-size:35px;
    display: none;
}

.question{
    height:50px !important;
    line-height:47px !important;
}

#questionsCounter{
    bottom:135px;
    position: absolute;
    width: 500px;
    height: 100px;
    margin-left:-250px;

}

#questionsCounter>img{
    margin-right: 10px;
}